In [7]:
import pandas as pd

train_dataset = pd.read_csv('train_dataset.csv')
test_dataset = pd.read_csv('test_dataset.csv')

train_dataset.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.019913,0.050680,0.104809,0.070072,-0.035968,-0.026679,-0.024993,-0.002592,0.003709,0.040343,321.0
1,-0.012780,-0.044642,0.060618,0.052858,0.047965,0.029375,-0.017629,0.034309,0.070207,0.007207,215.0
2,0.038076,0.050680,0.008883,0.042529,-0.042848,-0.021042,-0.039719,-0.002592,-0.018114,0.007207,127.0
3,-0.012780,-0.044642,-0.023451,-0.040099,-0.016704,0.004636,-0.017629,-0.002592,-0.038460,-0.038357,64.0
4,-0.023677,-0.044642,0.045529,0.090729,-0.018080,-0.035447,0.070730,-0.039493,-0.034522,-0.009362,175.0

In [8]:
train_dataset.isna().sum()

age       0
sex       0
bmi       0
bp        0
s1        0
s2        0
s3        0
s4        0
s5        0
s6        0
target    0
dtype: int64

In [9]:
train_dataset.describe()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
count,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000
mean,-0.000330,-0.003922,0.002957,-0.000764,0.000377,0.001124,0.000368,-0.001172,-0.000469,0.002247,153.262136
std,0.047257,0.047229,0.047520,0.047536,0.047779,0.047496,0.046248,0.044466,0.044972,0.045749,75.124696
min,-0.107226,-0.044642,-0.090275,-0.112399,-0.126781,-0.106845,-0.098625,-0.076395,-0.126097,-0.129483,25.000000
25%,-0.034575,-0.044642,-0.032073,-0.036656,-0.034592,-0.030124,-0.032356,-0.039493,-0.031988,-0.025930,89.000000
50%,0.005383,-0.044642,-0.002973,-0.005670,-0.004321,-0.003193,-0.006584,-0.002592,-0.002398,0.003064,142.000000
75%,0.038076,0.050680,0.036907,0.035644,0.030078,0.031880,0.026550,0.034309,0.032432,0.027917,210.000000
max,0.110727,0.050680,0.170555,0.132044,0.153914,0.155887,0.177497,0.155345,0.133397,0.135612,336.000000

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

train_features = train_dataset.copy()
test_features = test_dataset.copy()

train_labels = train_features.pop('target')
test_labels = test_features.pop('target')

model = LinearRegression()
model.fit(train_features, train_labels)

Train MSE: 2902.0483821109683
Test MSE: 2855.8184535056253
Train MAE: 43.72789618474123
Test MAE: 43.143476218056364
Train R^2: 0.484122067464441
Test R^2: 0.5690847834753974

In [16]:
import pickle

with open('model.pkl', 'wb') as model_file:
    pickle.dump(model, model_file)

with open('model.pkl', 'rb') as model_file:
    model = pickle.load(model_file)